* {
    box-sizing: border-box;
}

body {
    background-color: #2d3539;
    margin: 0;
}

.container {
    width: 100vw;
}

.navigation {
    background-color: #343a40;
    padding:16px;
}

.content {
    padding: 16px;
}