* {
    box-sizing: border-box;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: roboto;
    color: #ccc;
    font-size: 28px;
    font-weight: 500;
}

p {
    font-family: lato;
}

a {
    color: rgb(79, 177, 186);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

body {
    background-color: #2d3539;
}


.container {
    width: 100vw;
}

.navigation {
    background-color: #343a40;
    text-align: center;
    padding:16px;

    .title {
        margin: 8px 0 8px 0;
    }

    img {
        width: 100%;
        max-width: 50px;
        height: auto;
        display: block;
        border: 2px solid #fff;
        margin: 0 auto;
        border-radius: 50%;
        // margin-top: 16px;
    }

    nav {
        margin: 0 0 16px 0;
        
        a {
            padding: 5px;
        }
    }
}